body {
    background-image: url("assets/images/mobile.jpg");

}

header {
    text-align: center;
    color: #cccccc;
}

#game {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background-color: #cccccc;
    padding: 20px;
}

img {
    width: 400px;
    height: auto;
}